body{
    margin: 0;
    cursor: cell;
    background-color: #F8F1CA;
}
#ini{
width: 100%;
height: 602px;
border-style: solid;
border-color: rgba(252, 248, 0, 0.664);;
border-radius: 50px;
}
.flex{
    top: 0;
    position: fixed;
    background: rgba(252, 247, 0, 0.75);
    align-items: center;
    height: 70px;
    width: 100%;
    z-index: 1002;
}
li{
    display: inline-block;
}
#logo{
    z-index: 1112;
    position: relative;
    left: 0;
}
#cab{
    font-family: "Lato",sans-serif;
    font-weight: bold;
    font-size: 29px;
    padding-left: 150px;
}
#cad{
  left: 100%;  
  margin-top: 0;

}
.ult{
    margin-right: 200px;
}
.botao{

    padding: 1em;
    border-radius: 6px;
    background: yellow;
    cursor: pointer;
    display: block;
    width: 16%;
    margin-top: 3em;
    text-align: center;
    top: 12.5cm;
    left: 380px;
    -webkit-box-shadow: 5px 9px 13px 4px rgba(217,186,0,0.52); 
box-shadow: 5px 9px 13px 4px rgba(217,186,0,0.52);
position: absolute;
}

.botao:hover{
    background: rgb(255, 226, 64);
}
#clique{
    font-family: "Lato",sans-serif;
    font-size: 16px;    
    font-weight:bolder;  
    color: black;
}
strong{
    color: rgb(255, 174, 0);
}
#info{
        position: absolute;
    font-family: "Lato",sans-serif;
    font-size: 25px;    
    font-weight:bolder;  
    color: black;
    top: 3.75cm;
    left: 295px;
    width: 30%;
}
a{
    color: black;
}
.container {  display: grid;
    grid-template-columns: 2% 1fr 1% 1fr 1% 1fr 2%;
    grid-template-rows: 80px 800px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". escolha escolha escolha escolha escolha ."
      ". cursos . pecas . concerto .";
  padding-bottom: 5cm;
  }
  
  .escolha { grid-area: escolha; 
  text-align: center;
  }
  
  #cursos { grid-area: cursos; 
}
.paletes{
  background-color:  rgba(252, 248, 0, 0.664);
  border-radius: 50px;
  text-align: center;
  border-radius: 50px;
}
.paletes:hover{
  background: rgb(255, 226, 64);
  width: 103%;
}  
  #pecas { grid-area: pecas; 
}
  
  #concerto { grid-area: concerto; 
}
  h3{
    font-size: 40px
  }
  #imagempalete:hover{
    width: 568px;
    height: 340px;
  }
  #titulo{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  footer{
    position: absolute;
    width: 100%;
    background-color:  rgba(252, 248, 0, 0.664);
    height: 200px;
  }
  #cab:hover{
    color: rgb(255, 255, 255);
    transition: 750ms;
  }
  #txtpalete{
    font-size: 25px;    
    font-weight:bolder;  
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  #divtxt{
    text-align: justify;
    width: 80%;
    margin-left: 10%;
  }
  .botaopalete{
    padding: 1em;
    border-radius: 6px;
    background: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    width: 80%;
    margin-top: 3em;
    text-align: center;
    margin-left: 10%;
}
#clique2{
  font-family: "Lato",sans-serif;
  font-size: 16px;    
  font-weight:bolder;  
  color: white;
}
table{
  width: 100%;
}
#insta{
  width: 28px;
}
#topicos{
  font-family: "Lato",sans-serif;
  font-weight: bold;
  font-size: 20px;
}
#imagecell{
  margin-top: 70px;
}
.container2 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 600px;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "peca1 peca2 peca3 peca4";
    margin-top: 0.5%;
    border-top: dashed 8px yellow;
    border-bottom: dashed 8px yellow;
}
.pecass{
  background-color: yellow;
  border-radius: 50px 50px 20px 20px;
  margin-top: 3%;
  margin-bottom: 3%;
}
#peca1 { grid-area: peca1; }

#peca2 { grid-area: peca2; }

#peca3 { grid-area: peca3; }

#peca4 { grid-area: peca4; }
#imagempecas{
  position: absolute;
  left: 30px;
  top: 250px;
  z-index: 1001;
}
#imagempecas:hover{
  opacity: 0%;
  transition: 400ms;
}
#imagemfundo{
  position: absolute;
  left: 30px;
  top: 250px;
  z-index: 1000;
}
#newbotao{
  left: 45px;
  top: 700px;
}
.butaonv{
  text-align: center;
  width: 300px;
  position: absolute;
  z-index: 1000;
  padding: 1em;
  background-color: black;
  color: white;
  border-radius: 30px;
}
#txtnobut{
  font-family: "Lato",sans-serif;
  font-size: 16px;    
  font-weight:bolder;  
  color: white;
}
.butaonv:hover{
  width: 320px;
  background-color: gray;
  color: black;
  transition: 750ms;
}
.preco{
  font-family: "Lato",sans-serif;
  font-size: 40px;    
  font-weight:bolder;  
  color: black;
  position: absolute;
}
#precodo1{
  left: 120px;
  top: 590px;
}
#newbotao2{
  top: 700px;
  left: 500px;
}
#catalogo{
  font-family: "Lato",sans-serif;
  font-size: 17px;    
  font-weight:bolder;  
  color: black;
text-align: center;
}
#imagempecas2{
  position: absolute;
  left: 487px;
  top: 250px;
  z-index: 1001;
}
#imagempecas2:hover{
  opacity: 0%;
  transition: 400ms;
}
#imagemfundo2{
  position: absolute;
  left: 487px;
  top: 250px;
  z-index: 1000;
}
#precodo2{
  left: 575px;
  top: 590px;
}

#imagempecas3{
  position: absolute;
  left: 940px;
  top: 250px;
  z-index: 1001;
}
#imagempecas3:hover{
  opacity: 0%;
  transition: 400ms;
}
#imagemfundo3{
  position: absolute;
  left: 940px;
  top: 250px;
  z-index: 1000;
}
#precodo3{
  left: 1020px;
  top: 590px;
}
#newbotao3{
  top: 700px;
  left: 953px;
}
#imagempecas4{
  position: absolute;
  left: 1400px;
  top: 250px;
  z-index: 1001;
}
#imagempecas4:hover{
  opacity: 0%;
  transition: 400ms;
}
#imagemfundo4{
  position: absolute;
  left: 1400px;
  top: 250px;
  z-index: 1000;
}
#precodo4{
  left: 1500px;
  top: 590px;
}
#newbotao4{
  top: 700px;
  left: 1432px;
}
#btprx{
  position: absolute;
  left: 1760px;
  top: 580px;
}

.container3 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 600px;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "peca1 peca2 peca3 peca4";
    margin-top: 0.5%;
    border-top: dashed 8px yellow;
    border-bottom: dashed 8px yellow;
}
#peca1pc { grid-area: peca1; }

#peca2pc { grid-area: peca2; }

#peca3pc { grid-area: peca3; }

#peca4pc { grid-area: peca4; }
#imagempecaspc{
  position: absolute;
  left: 30px;
  top: 1000px;
  z-index: 1001;
}
#imagempecaspc:hover{
  opacity: 0%;
  transition: 400ms;
}
#imagemfundopc{
  position: absolute;
  left: 30px;
  top: 1000px;
  z-index: 1000;
}
#newbotaopc{
  left: 45px;
  top: 1440px;
}
#precodo1pc{
  left: 120px;
  top: 1340px;
}
#newbotao2pc{
  top: 1440px;
  left: 500px;
}
#imagempecas2pc{
  position: absolute;
  left: 487px;
  top: 1000px;
  z-index: 1001;
}
#imagempecas2pc:hover{
  opacity: 0%;
  transition: 400ms;
}
#imagemfundo2pc{
  position: absolute;
  left: 487px;
  top: 1000px;
  z-index: 1000;
}
#precodo2pc{
  left: 575px;
  top: 1340px;
}

#imagempecas3pc{
  position: absolute;
  left: 940px;
  top: 1000px;
  z-index: 1001;
}
#imagempecas3pc:hover{
  opacity: 0%;
  transition: 400ms;
}
#imagemfundo3pc{
  position: absolute;
  left: 940px;
  top: 1000px;
  z-index: 1000;
}
#precodo3pc{
  left: 1020px;
  top: 1340px;
}
#newbotao3pc{
  top: 1440px;
  left: 953px;
}
#imagempecas4pc{
  position: absolute;
  left: 1400px;
  top: 1000px;
  z-index: 1001;
}
#imagempecas4pc:hover{
  opacity: 0%;
  transition: 400ms;
}
#imagemfundo4pc{
  position: absolute;
  left: 1400px;
  top: 1000px;
  z-index: 1000;
}
#precodo4pc{
  left: 1500px;
  top: 1340px;
}
#newbotao4pc{
  top: 1440px;
  left: 1432px;
}
.containercu {  display: grid;
  grid-template-columns: 7% 533px 1fr;
  grid-template-rows: 347px 113px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". imagemcursos txtcursos"
    ". certificados txtcursos";
    margin-top: 7%;
    margin-bottom: 10%;
}

.imagemcursos { grid-area: imagemcursos; 
background-image: url(imagemcursos.png);
}

.txtcursos { grid-area: txtcursos; 

}

.certificados { grid-area: certificados;
  background-image: url(cert.png); 
}
#sobcursos{
  font-family: "Lato",sans-serif;
  font-size: 45px;    
  font-weight:bolder;  
  color: black;
  top: 3.75cm;
}


.content3{
  position: absolute;
  
  height: 520px;
  width: 935px;
  border-radius: 20px;
  overflow: hidden;
  left: 25%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.navegar{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.bar{
  width: 70px;
  height: 17px;
  border: 2px solid #62FF3F;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer ;
  transition: 400ms;
}
.bar:hover{
  background-color: #62FF3F;
}
input{
  display: none;
}
.slides3{
  display: flex;
  width: 500%;
  height: 100%;
}
.slide{
  width: 20%;
  transition: 400ms;
}
.slide img{
  width: 100%;
  height:100% ;
}
#slide1:checked ~ .s1{
  margin-left: 0%;
}
#slide2:checked ~ .s1{
  margin-left: -20%;
}
#slide3:checked ~ .s1{
  margin-left: -40%;
}
#slide4:checked ~ .s1{
  margin-left: -60%;
}
#slide5:checked ~ .s1{
  margin-left: -80%;
}

#roda3{
  position: absolute;
  top: 130%;
}
#propa{
  width: 100%;
  
  margin-bottom: 10%;
  background-color: yellow;
  text-align: center; 
  
}
#till{
  margin-bottom: 8%;
  font-size: 30px;
  padding-top: 8%;
}
#minhaDiv{
  position: fixed;
  width: 18%;
  height: 100%;
  background-color: rgba(248, 246, 100, 0.575);
  z-index: 1111111;
  box-shadow: rgba(0, 0, 0, 0.15) 6.95px 6.95px 6.6px;
  left: 83%;
  top: 0;
}
#select{
  position: fixed;
  top: 1%;
  left: 95%;
  width: 4%;
  z-index: 11111111;
  border: 0cm;
  }
    textarea{
      width: 100%;
      height: 20%;
    }
    #txtcarro{
      font-size: 30px;
      padding-top: 20%;
    }
      #txtara{
        font-size: 25px;
      }
      #finalize{
        font-size: 30px;
        width: 100%;
      }
      #precin{
        position: absolute;
        top: 20%;
        font-size: 60px;
        color: red;
        z-index: 11111;
      }